<h4 class="text-center">Login</h4>

<!-- <p> caianehardt@gmail.com</p>
<p>teste1</p> -->
<form [formGroup]="loginForm" class="form mt-4" (submit)="login()">
  <div class="form-group">
    <input
      #usersEmailInput
      formControlName="email"
      class="form-control"
      placeholder="email"
      autofocus
    />
    <cat-vmessage
      *ngIf="loginForm.get('email')?.errors?.['required']"
      text="Email é obrigatório!"
    >
    </cat-vmessage>
  </div>

  <div class="form-group">
    <input
      formControlName="password"
      type="password"
      class="form-control"
      placeholder="password"
    />
    <cat-vmessage
      *ngIf="loginForm.get('password')?.errors?.['required']"
      text="Senha é obrigatório!"
    >
    </cat-vmessage>
  </div>

  <button
    [disabled]="loginForm.invalid"
    type="submit"
    class="btn btn-primary btn-block"
  >
    login
  </button>
</form>

<p>Não é um usuário? <a [routerLink]="['/signup']"> Se Cadastre!</a></p>
